body {
  overflow-x: hidden;
  position: relative;
  color: $white2;
  background-color: $bg-body;
  font-family: $font-primary;
  // @include font('Work Sans', 400);

  &.active-body {
    overflow: hidden;
  }
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 36px;
}

a,
button {
  color: $white2;
}

.container {
  max-width: 1390px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}